---
import Layout from "layouts/Layout.astro";
import NotFound from "icons/NotFound.astro";
---

<Layout
  title="Portafolio de Victor Cortés - 404 Not Found"
  description="Página no encontrada"
>
  <section class="flex flex-col items-center justify-center">
    <NotFound class="size-48" />
    <h1 class="text-4xl font-bold mt-4">404 Not Found</h1>
    <p class="text-lg mt-2">La página que buscas no existe</p>
  </section>
</Layout>
