---
import Layout from "layouts/Layout.astro";
import Development from "icons/Development.astro";
---

<Layout
  title="Portafolio de Victor Cortés - Artículos"
  description="Artículos sobre desarrollo web, tecnología, javascript, react, entre otros"
>
  <section class="flex flex-col items-center justify-center">
    <Development class="size-48" />
    <h1 class="text-4xl font-bold mt-4">Oops! en desarrollo</h1>
    <p class="text-lg mt-2">¡La página se encuentra en desarrollo!</p>
  </section>
</Layout>
