<article
  class="flex flex-col items-center justify-center gap-8 text-gray-300 md:flex-row"
>
  <div class="[&>p]:mb-4 text-pretty order-2 md:order-1">
    <p>
      Mucho gusto, me llamo Victor Cortés, Empecé en la programación cuando
      tenía 15 años. En mi experiencia, he trabajado en diferentes áreas de IT
      como infraestructura, redes, aplicaciones ERP, analista de datos y
      business intelligence, pero lo que más me gusta es <strong
        >desarrollar aplicaciones web</strong
      >.
    </p>

    <p>
      Entre mis éxitos resalto que ayudé a mis compañeros a aprender nuevas
      tecnológicas, buenas prácticas de desarrollo y testing, resaltando siempre
      la importancia del testing compartiendo mis conocimientos, <strong
        >poseo una fuerte pasión por guiar y enseñar a otros.</strong
      >
    </p>
  </div>

  <img
    src="me.webp"
    alt="Foto de Victor Cortés"
    class="order-1 object-cover w-48 h-full p-1 md:order-2 lg:p-2 rounded-2xl bg-yellow-500/5 ring-1 ring-white/20"
  />
</article>
