<div class="flex items-center hover:shadow-[0_0_15px_8px_rgba(62,61,117,0.7)]">
  <span class="relative inline-flex overflow-hidden rounded-full p-[1px]">
    <span
      class="absolute inset-[-1000%] animate-[spin_2s_linear_infinite] bg-[conic-gradient(from_90deg_at_50%_50%,#e7ebeb_0%,#4ca5d8_50%,#e7ebeb_100%)]"
    ></span>
    <div
      class="inline-flex items-center justify-center w-full px-3 py-1 text-sm text-white/80 bg-gray-800 rounded-full cursor-pointer backdrop-blur-3xl whitespace-nowrap"
    >
      <slot />
    </div>
  </span>
</div>
