---
import Badge from "../components/Badge.astro";
import Social from "../components/Social.astro";
import LinkedInIcon from "../icons/LinkedIn.astro";
import GitHubIcon from "../icons/GitHub.astro";
import DevToIcon from "../icons/DevTo.astro";
import ArrowRightIcon from "../icons/ArrowRight.astro";
import ArrowLeftIcon from "../icons/ArrowLeft.astro";
---

<div class="max-w-2xl">
  <div class="flex gap-4 mb-4">
    <img
      class="rounded-full shadow-lg size-16 bg-blue-300"
      src="profile-photo.webp"
      alt="Foto de Victor Cortés"
    />
    <a
      href="https://linkedin.com/in/corteshvictor/"
      target="_blank"
      rel="noopener noreferrer"
      class="flex items-center transition md:justify-center md:hover:scale-105 ml-2"
    >
      <Badge>
        <ArrowRightIcon class="size-4 mr-1" />
        Abierto a nuevos retos
        <ArrowLeftIcon class="size-4 ml-1" />
      </Badge>
    </a>
  </div>

  <h1 class="text-4xl font-bold flex flex-row pb-5 sm:text-5xl">
    ¡Hola 👋, soy Victor!, de Cartagena, Colombia 🇨🇴
  </h1>

  <p class="mt-6 text-xl text-gray-300">
    Ingeniero de sistemas con más de 15 años de experiencia laboral,
    <strong class="font-semibold"
      >especializado en el desarrollo de aplicaciones web multiplataforma</strong
    >, accesibles, seguras, escalables y de alto rendimiento.
  </p>

  <nav class="flex flex-wrap gap-4 mt-8">
    <Social href="https://linkedin.com/in/corteshvictor/">
      <LinkedInIcon class="size-4" />
      LinkedIn
    </Social>

    <Social href="https://github.com/corteshvictor">
      <GitHubIcon class="size-4" />
      GitHub Personal
    </Social>

    <Social href="https://github.com/victorhcortesp">
      <GitHubIcon class="size-4" />
      GitHub Laboral
    </Social>

    <Social href="https://dev.to/corteshvictor">
      <DevToIcon class="size-5" />
      dev.to
    </Social>
  </nav>
</div>
